body {
  margin: 0;
  font-family: sans-serif;
  background: #eee;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.phone {
  width: 360px;
  height: 640px;
  background: white;
  border-radius: 20px;
  padding: 24px;
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.zigzag {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* 正方形カード */
.card {
  width: 140px;
  height: 140px;
  background: #f0f0f0;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

/* 左右ずらし */
.left {
  align-self: flex-start;
}

.right {
  align-self: flex-end;
}

/*キラキラ*/
.card:hover {
  background: #e0e7ff;
  transform: scale(1.03);
}

/* ログインエリア */
.login-area {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 60px;
}

.login-area input {
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* ログインボタン */
.login-btn {
  margin-top: 20px;
  padding: 14px;
  text-align: center;
  background: #f0f0f0;
  border-radius: 12px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.login-btn:hover {
  background: #e0e7ff;
}
